
/*---------*\
BASE STYLE
\*---------*/


.section_1{
  position:relative;
  overflow:hidden;
  padding:0 20px;
}

.section_1{
  position:relative;
  z-index: 1;
}

.section_1__top{
  display:flex
  
}