@import url(navbarbutton.css);
@import url(chapter.css);
@import url(red-button.css);

* {
    box-sizing: border-box;
}

body,
html {
    position: absolute;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    height: 100vh;
}

.container {
    position: relative;
    width: 100vw;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow:hidden;
}

.head, .chapter1 {
    position: relative;
    width: 60rem;
    margin: auto;

}

.left {
    float: left;
}

.right {
    float: right;
}
