.chapter1 {
  width: 100vw;
  font-size: .8rem;
  display: flex;
  flex-flow: column;
  justify-content: center;


}

.chapter1::after {
  z-index: 1;
  content: "";
  width: 100vw;
  height: 1px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 100vh;
  left: 0;


}

.chapter1 {
  margin: auto;
  width: 100vw;
  height: 75vh;60}


.picture {
  height: 80vh;
  position: absolute;
  left: min(50rem, 60%);
  top: 10vh;

}


.introduction {
  width: 60rem;
  padding-left: 1.5rem;
  margin: auto;

}

.title1 {
  margin-bottom: 3rem;
  width: 25rem;
  font-size: 2.5rem;
}


.text1, .text2{
  width: 25rem;
  font-size: .8rem;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.4);
  padding-left: 2rem;
  padding-top: 3px;
  border-left: 1.5px solid rgba(0, 0, 0, 0.4);
  margin-bottom: 3rem;
}

.wrapper{
  width: 900px;
  text-align: center;
  margin:auto;

  
}

.introduction2{
  text-align: left;
  width:50%;
  margin-top:150px;
}

.hand{
  width:50%;
}

.chapter4{
  background: url('../img/runners.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height:100vh;
  margin-top:15vh;
  
}

.introduction3{
  width:24rem;
  color:white;
  margin:30vh 50vw;
  
}

.text3{
  width: 24rem;
  font-size: .8rem;
  line-height: 1.5;
  color: white;
  padding-left: 2rem;
  padding-top: auto;
  border-left: 3px solid white;
  margin-bottom: 3rem;
  
}