*{
  text-transform: uppercase;
  box-sizing: border-box;
}
body,html{
    height:100vh;

}
body{
  position:absolute;
  width:100%;
  height:100vh;
  background-image: url(img/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;

}
.container{
  
  background-color:white;
  width:22rem;
  height:19.5rem;
  margin:auto;
  margin-top:10%;
  text-align: center;
  cursor:pointer;
  border-radius: 5px;
}
.navbar{
  position: relative;
  width:5rem;
  height:3rem;
  padding-top:1rem;

  
}
.link{
  position:relative;
  float:left;
  border-radius: 50%;
  width: 7px;
  height: 7px;
  margin:0.3rem;
  background-color:rgba(0,0,0,0.1);
  right:-8.5rem;


}
.active{
  background-color:rgba(0,0,0,0.3);
  
}

.title{
  float:none;
  margin:0 auto;
  font-family:'Roboto', sans-serif;
  font-weight: 700;
  font-size:1.3rem;
  height:20%;
}
.type{
  width:100%;
  height:65%;
  font-family:'Roboto', sans-serif;

  
}
img{
  position:relative;
  top:20%;
  width:5rem;
  height:1.7rem;
  float:left;
  margin-left:3%
}
.check{
  float:right;
  margin-right:-5%;
}
.cardtype, .blue{
  width:100%;
  height:25%;
  float:left;
  text-align:left;
  border-top:1px solid rgba(0,0,0,0.2);


}
.card{
  font-weight: 700;
  position:relative;
  top:30%;
  font-size:0.85rem;
  color:rgba(0,0,0,0.4);
  
  
}
.cardtype:hover{
  background-color:rgba(0,0,0,0.1);
  transition-timing-function: ease-in-out;
  transition: 0.15s;
}
.card-active{
  color:black;
}
.blue{
  
  float:left;
  position:relative;
  background-color:dodgerblue;
  color:rgba(255,255,255,0.6);
  padding-top:4%;  
  text-align:center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  

}
.blue:hover{
  background-color:cornflowerblue;

}
.blue:active {
  width:100%;
  height:24%;
  top:1%;